<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIoI1xDUcUZ9-Ux0YmPfBbOz6M73UEbNM</string>
	<key>GCM_SENDER_ID</key>
	<string>1091293657831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sugdev.chronochip</string>
	<key>PROJECT_ID</key>
	<string>chronochip-ffb1f</string>
	<key>STORAGE_BUCKET</key>
	<string>chronochip-ffb1f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091293657831:ios:646945d76a70c4fc30c042</string>
</dict>
</plist>